*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    overflow:hidden;

    background:
    radial-gradient(
        circle at center,
        #220015,
        #050505 65%
    );

    font-family:Arial, sans-serif;

    color:white;

}


/* THREE CANVAS */

canvas{

    position:fixed;

    inset:0;

    z-index:1;

}



/* WEBCAM */

#webcam{

    position:fixed;

    right:35px;

    bottom:35px;


    width:330px;

    height:240px;


    object-fit:cover;


    border-radius:25px;


    border:1px solid rgba(255,255,255,.25);


    box-shadow:

    0 0 40px rgba(255,0,100,.35);


    z-index:5;


    opacity:.35;


    transform:

    perspective(800px)

    rotateY(-5deg);


}



/* TITLE */

.title{


    position:fixed;


    top:45px;

    left:55px;


    z-index:10;



    font-family:Georgia,serif;


    font-size:52px;


    letter-spacing:4px;



    background:

    linear-gradient(

    90deg,

    white,

    #ff3366,

    #ff99cc

    );


    -webkit-background-clip:text;

    color:transparent;



    text-shadow:

    0 0 30px rgba(255,0,100,.4);


}



/* BUTTON */


#camBtn{


    position:fixed;


    right:55px;


    top:45px;



    z-index:10;



    padding:

    14px 30px;



    border-radius:40px;



    border:

    1px solid rgba(255,255,255,.3);



    background:

    rgba(255,255,255,.08);



    backdrop-filter:

    blur(15px);



    color:white;



    cursor:pointer;



    font-size:16px;



    transition:.3s;


}



#camBtn:hover{


    transform:scale(1.08);



    background:

    rgba(255,0,100,.3);



}



/* CHARGE RING */


#charge{


    position:fixed;


    bottom:45px;


    left:50%;


    transform:translateX(-50%);



    width:260px;


    height:12px;



    background:

    rgba(255,255,255,.1);



    border-radius:30px;



    overflow:hidden;



    z-index:10;


}




#charge span{


    display:block;



    height:100%;



    width:0%;



    background:

    linear-gradient(

    90deg,

    #ff0055,

    white

    );



    box-shadow:

    0 0 20px #ff3366;


}



/* STATUS PANEL */


.status{


    position:fixed;


    left:50px;


    bottom:50px;


    z-index:10;



    padding:20px 30px;



    border-radius:20px;



    background:

    rgba(255,255,255,.05);



    border:

    1px solid rgba(255,255,255,.15);



    backdrop-filter:

    blur(15px);



    font-size:14px;



    letter-spacing:1px;


}



.status span{


    color:#ff6699;


}